# Build Directories
build/
cmake-build/

# Python Artifacts
dist/
dist-*/
__pycache__/
*.pyc
*.so
*.so.debug
*.dll
*.lib
*.pdb
*.dSYM/
*.egg-info/

# Tools and IDEs
tags
.idea/
.vs/
.venv/
.cache/
.python-version

# Misc
.DS_Store
